<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

 
<div ng-controller="tabController"  class="row" style="margin-top: 2%">
        <div class="col s3" style="height:800px">
            <div  class="container"> 
                <div class="row">
                    <div class="col s12 " align="center" style="border:1px solid #DFDFDF;margin-top: 10%; height:50px;color: #DFDFDF"> <input type="file" style="display: none" name="FileUpload" id="file-7" onchange="angular.element(this).scope().openDirecotry(event)" class="inputfile inputfile-6" webkitdirectory mozdirectory msdirectory odirectory directory multiple data-multiple-caption="{count} files selected" multiple />
                        <label class="tour_1" for="file-7"  style="height:32px" ><div style="margin-top: 3%" class="col-sm-8"><span class="col s8"></span></div><strong  style=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Browse</strong></label> </div>
<!--                    <div class="col s12 " align="center" style="margin-top: 10%; height:50px;color: #DFDFDF"> <input  type="file"  onchange="angular.element(this).scope().openDirecotry(event)" id="FileUpload" name="browse"  webkitdirectory mozdirectory msdirectory odirectory directory multiple /> </div>-->
                    <!--<div class="col s12 " align="center" style="border: 1px solid;margin-top: 10%; height:50px;color: #DFDFDF"> <h6 >Set Directory </h6> </div>-->
                    <!--<div class="col s12" align="center" style="margin-top: 7%; height:50px"> <a class="waves-effect waves-light btn" style=";background-color: #01579b">Browse</a> </div>-->
                    <div class="col s12" align="center" style="margin-top: 20%; height:50px"> <a ng-click="runEngine()" class="waves-effect waves-light btn" style="width:100%;background-color: #01579b">Run Karvy Engine</a> </div>
                    <div class="col s12" align="center" style="margin-top: 7%; height:50px">  <div style="display:none" class="progress">  <div class="indeterminate"></div>  </div> </div>
                    <div class="col s12" align="center" style="margin-top: 20%; height:50px"> <a class="waves-effect waves-light btn" style="width:80%;background-color: #01579b">Download Output</a>  </div>
                </div>
            </div>
        </div>
        <div  class="col s9" style="height:800px;border-left:1px solid #DFDFDF">
          <div class="row">
    <div  class="col s4">
        <ul  class="tabs">
            <li class="tab col s3" ><a class='active-tab' style="color:#01579b"  id="reportView" ng-click="tabSwitch('reportView')" >Sample Output</a></li>
        <li class="tab col s3"><a  style="color:#01579b" id="dashboardView" ng-click="tabSwitch('dashboardView')" >Dashboard</a></li>
        
      </ul>
    </div>
    <div id="reportViewDiv" style="margin-top:2%;height:500px" class="col s12">Test 1</div>
    <div id="dashboardViewDiv" style="margin-top:2%;height:500px;display:none" class="col s12">Test 2</div>
    
  </div>  
        </div>
    </div>
    
